@import url('https: //fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* Full Chat Container */
.chat-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #1e1c1c;
    scrollbar-color: #565656 #1e1c1c;
}

.prevChat-container {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e1c1c;
    scrollbar-color: #565656 #1e1c1c;
    border-right: 3px solid white;
    margin-right: 10%;
}

.messages-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e1c1c;
    scrollbar-color: #565656 #1e1c1c;
}

/* Scrollable Chat Box */
.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

/* Chat Message Styling */
.message {
    max-width: 75%;
    padding: 12px 16px;
    margin: 5px 0;
    border-radius: 18px;
    word-wrap: break-word;
    font-size: 13px;
}

/* User Messages */
.User {
    background-color: #565656;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 4px;
}

/* AI Messages */
.AI {
    color: white;
    align-self: flex-start;
    font-size: 20px;    
    font-family: 'Newsreader', serif;
}

/* Chat Input */
.chat-input {
    display: flex;
    position: sticky;
    bottom: 15px;
    width: 100%;
}

/* Input Box */
.chat-input input {
    flex-grow: 1;
    padding: 0px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: white;
    font-size: 1rem;
    outline: none;
    margin-right: 10px;
}

/* Send Button */
.chat-input button {
    width: 60px;
    height: 60px;
    background: url('../assets/checkmark.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}